@charset:"utf-8";

body,h1,h2,h3,h4,h5,h6,h7,ul,li,span
{
    margin:0;
    padding:0;
}

a
{
    text-decoration: none;
    color: #6F6F6F;
}

ul li
{
    list-style: none;
}

.inner
{
    width: 940px;
    margin:0  auto;
}

.cf:after
{
    content: "";
    display: block;
    clear: both;
}




/*헤더탑 시작*/

#Wrap
{
    border-bottom:3px solid #B91C22;
}


/* 유틸왼쪽 */

.utl
{
    position: relative;
    float: left;
    
}

.utl span img
{
    padding-bottom: 41px;
    padding-left: 5px;
}



/*유틸 오른쪽*/

.utr
{
    float: right;
    padding-top: 18px;
    vertical-align: middle;
}

.utr a
{
    vertical-align: middle;
}

.utr a:after
{
    content: "";
    width:1px;
    height:8px;
    background:#C0C0C0;
    display: inline-block;
    vertical-align: middle;
    margin-left:5px;
    
}

.utr a:last-child:after
{
    background: none;
}

/* 로고 */
.hdrb
{
    position: relative;
}

h1
{

    position: absolute;
    right: 50%;
    margin-right:-135px;
    top:-35px;
    
}

/* 메뉴시작 */

.gnb
{
    padding:40px 20px;
}

.gnb li
{
    float: left;
    padding-right:80px;
    padding-bottom:10px;
}

.gnb li:last-child
{
    padding:0;
}

/* 메인 슬라이더*/

.mainsd
{
    width: 1920px;
    height:100%;
    overflow: hidden;
}

.mainsd img
{
    
}

/* 콘1 */

.con1
{
    padding-top:45px;
}

.con1 div
{
    float:left;
    
}

.c1box1
{
    width:25%;
}

h3
{
    font-size:13px;
    padding:15px 0;
}

h4
{
    font-size: 12px;
    font-weight:normal;
}

.tx
{
    text-align: center;
}

.c1box2
{
    margin:0 42px;
}

.c1box2 ul
{
    padding:35px 0;
}

.c1box2 ul li
{
    display: inline-block;
    text-align: center;
    padding:0 20px;
    border-left:1px solid #eee;
    
}


.c1box2 ul li:first-child
{
    border:0;
}

.c1box3
{}


/* 콘2 시작*/

.con2
{
    padding-bottom: 50px;
}



/* 콘3 시작*/

.con3
{
    padding-bottom: 50px;
    border-bottom:3px solid #B91C22
}

.con3 div
{
    float: left;
    width: 205px;
    padding-right:30px;
}

.con3 div:last-child
{
    width: 235px;
    padding:0;
}

h6
{
    font-size:12px;
    padding-top:15px
}


.c3box1 p
{
    margin:0;
}

.quickbt
{
    padding-top:8px;
}

.quickbt img
{
    vertical-align: middle;
}

.quickbt span
{
    font-size: 13px;
    margin-left:5px;
    vertical-align: middle;
}

.c3box2 p
{
    margin:0;
}


/* 콘3박3 시작 */


.c3box3 h5
{
    padding-bottom:15px;
}
.c3box3 h5 span
{
    margin-right:5px;
}
.news li
{
    font-size:12px;

}

.news li a
{
    width:150px;
    display: inline-block;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    vertical-align: top;
}


.news li span
{
    margin-left:15px;
}

/* 콘3 박4*/

.c3box4 a ul
{
    
}


.c3box4 a ul li
{
    float: left;
    padding:0 15px;
    background:url(../images/mall_bar01.gif) no-repeat;
    text-align: center;
}


.c3box4 a ul li:first-child
{
    background: none;
}

.c3box4 a ul li h4
{
    padding-top:5px;
}


/* 콘4 시작 */

.con4
{
    padding:50px 0;
}


.con4 h2
{
    vertical-align:middle;
}

.con4 h2 img
{
    vertical-align:middle;
}

.c4box
{
    width: 25%;
    float: left;
    padding:0;
    margin-top:20px;
}


.c4img a
{
    float: left;
}

.c4tx h6
{
    float: left;
    width: 180px;
    padding:0;
    margin-left:7px;
}

.c4tx h6
{
    font-size:12px;
    font-weight:bold;
    color:#555;
    
}

.c4tx h6 span
{
    color:#B91C22;
    font-weight:bold;
}

/* 푸터시작 */

#footer
{
    background:url(../images/bg_footer.gif);
    height:149px;
    width:100;
    
}

.foot ul li
{
    font-size:14px;
    color:#fff;
    padding-top:40px;
    margin-right:8px;
    display: inline-block;
    
}

.foot ul li:after
{
    content: "";
    width:1px;
    height:10px;
    background:#fff;
    display: inline-block;
    margin-left:8px;
}

.foot ul li:last-child:after
{
    background:none;
}

.foot p
{
    font-size:11px;
    color: rgba(255,255,255,0.5)
}
