@charset "utf-8";

/*헤더 시작*/

.headerTop
{
    position:relative;
}

h1
{
    background:url(../images/sp_com.png) -299px -5px ;
    width: 115px;
    height:45px;
    position:absolute;
    left:50px;
    top:30%;
}

/*gnb시작*/

.gnb
{
    margin-left:250px;
    line-height:100px;
}

.gnb li
{
    float: left;
    margin-right:50px;
    font-weight:bold;
    
}

.utill
{
    position: absolute;
    right:0;
    top:42%;

}

.utill li
{
    float: right;
    font-size:12px;
    font-weight:bold;
}

.utill li:after
{
    content:"";
    width:1px;
    height:8px;
    background: #888;
    display:inline-block;
    margin:0 5px;
}

.utill li:first-child:after
{
    background:none;
}


/*푸터 시작*/

.footerBg1
{
    background:#373E42;
}


.footin
{
    padding:10px 0;   
}

.footin ul
{
    float: left;
    line-height:50px;
}


.footerTop li
{
    float:left;
}


.footerTop li a
{
    color: #fff;
    font-size:13px;
    
}

.footerTop li:after
{
    content:"";
    width: 1px;
    height:8px;
    background:#fff;
    display:inline-block;
    margin:0 10px;
}

.footerTop .lastBar:after
{
    display:none;
}
.footerTop li:hover
{
    text-decoration: underline;
}
/*푸터 오른쪽*/

.footerRight
{
    float:right;
}

.footerRight div
{
    float: left;
}


.footRbox1
{
    background:#292F32;
    width:230px;
    height:50px;
    line-height:50px;
    font-size:13px;
    text-align:center;
    font-weight:bold;
    margin-right:10px;
}

.footRbox1 a
{
    color:#fff;
}

.footRbox1 a span
{
    font-size:20px;
    margin-left:10px;
}

.footRbox2
{
    background:#fff;
    width:200px;
    height:50px;
    line-height:50px;
    font-size:13px;
    text-align:left;
    font-weight:bold;
    position:relative;
}

.footRbox2 span
{
    margin-left:20px;
}

.footRbox2 p
{
    position:absolute;
    right:20px;
    top:0;
}

/*푸터바텀 시작*/

.footerBottom
{
    background:#4B5358;
    padding:30px 0;
    text-align:center;
    
}

.footerBottom p
{
    background:url(../images/sp_com.png) no-repeat -150px 0px;
    width:130px;
    height:50px;
    margin:20px auto;
    
}

.footerBottom h5
{
    color:#fff;
    letter-spacing:-0.5px;
    font-size:13px;
    font-weight:normal;
    margin-bottom:10px;
}
