/*~~~~~~~~~~~~~~헤더~~~~~~~~~~~~~*/

#header
{
    margin:16px 20px;
    position:relative;
}

#header h1
{
    background:url(../images/sp_com.png) no-repeat 0px 0px;
    height:28px;
    width:70px;
}

#header a{
    display: block;
}

.panel{
    position:absolute;
    right:0;
    top:50%;
    margin-top:-8px;
}

.panel a:before,.panel span,.panel a:after{
    content:"";
    display: block;
    width:20px;
    height:2px;
    background:#777;
    
}

.panel span{
    margin:5px 0;
    text-indent:-99999px;
}

.panel a:after{
    width:15px;
}

/*~~~~~~~~~~~~~~푸터탑~~~~~~~~~~~~~*/
#footer
{
    background:#383f43;
    color:#fff;
    font-size:12px;
    text-align:center;
    padding-top:16px;
}

#footer a
{
    color:#fff;
}

.fMenu
{
    font-size:0;
}

.fMenu li
{
    display:inline-block;
    line-height:22px;
    font-size:12px;
}

.fMenu li:after
{
    content:"";
    display:inline-block;
    background:rgba(255,255,255,0.3);
    width:1px;
    height:8px;
    margin:0 5px;
}

.fMenu li:last-child:after{
    display:none;
}

.fCs{
    display:inline-block;
    margin:10px 0;
}

.call,.familySite
{
    padding:0 15px;
    height:35px;
    line-height:35px;
    font-size:12px;
    float:left;
}
.call{
    background:#2a3033;
    margin-right:10px;

}
.call span{
    padding-right:10px;
}
.familySite{
    border:0;
    -webkit-appearance:none;
    background:#fff url(../images/arrow.png) no-repeat 90% center;
    padding-right:30px;
    
}


/*~~~~~~~~~~~~~~푸터바텀~~~~~~~~~~~~~*/
.fCopy
{
    background:#4c5459;
    line-height:40px;
    letter-spacing:-0.5px;
    
}




