


/*~~~~~~~~~~~~~~컨테이너~~~~~~~~~~~~~*/

#container{}

/*~~~~~~~~~~~~~~메인슬라이더~~~~~~~~~~~~*/

.mainSlider
{
    
    background:url(../images/main_img.jpg) no-repeat center center;
    height:350px;
    background-size:cover;
    color:#fff;
    text-align: center;
    position:relative;
}

.mainSlider h2
{
    font-size:20px;
    letter-spacing:-1px;
}

.mainSlider p
{
    font-size:12px;
    margin-top:10px;
}

.sdText
{
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
}

.prevBtn
{
    background:url(../images/sp_com.png) no-repeat -64px -30px;
    width:12px;
    height:24px;
    position:absolute;
    top:50%;
    margin-top:-12px;
    left:4%;
}

.nextBtn
{
    background:url(../images/sp_com.png) no-repeat -79px -30px;
    width:12px;
    height:24px;
    position:absolute;
    top:50%;
    margin-top:-12px;
    right:4%;
}

/*~~~~~~~~~~~~~~메인메뉴~~~~~~~~~~~~*/
.mainMenu 
{
    margin:16px;
    margin-bottom:0;
    text-align:center;
}

.mainMenu li
{
    width:33.33%;
    float:left;
    font-size:14px;
    font-weight:bold;
    margin-bottom:20px;
    
}
.mainMenu a
{
    color:#333;
}
.mainMenu li span
{
    background:url(../images/sp_com.png)no-repeat -1px -55px;
    width:33px;
    height:33px;
    display: block;
    margin:0 auto;
    text-indent:-9999px;
}
.mainMenu .Btn2 span
{
    background:url(../images/sp_com.png)no-repeat -37px -55px;
}

.mainMenu .Btn3 span
{
    background:url(../images/sp_com.png)no-repeat -73px -55px;
}
.mainMenu .Btn4 span
{
    background:url(../images/sp_com.png)no-repeat -109px -55px;
}

.mainMenu .Btn5 span
{
    background:url(../images/sp_com.png)no-repeat -145px -55px;
}

.mainMenu .Btn6 span
{
    background:url(../images/sp_com.png)no-repeat -181px -55px;
}

/*~~~~~~~~~~~~~~메인컨텐츠1빠른메뉴~~~~~~~~~~~~*/
.mainCon01
{

    font-size:14px;
    margin:0 16px;
}

.mainCon01 li
{
    width:calc(50% - 8px);
    margin-right:16px;
    margin-bottom:16px;
    text-align:center;
    float:left;
    background:url(../images/mainrow3_img1.jpg)no-repeat;
    background-size:cover;  
}

.mainCon01 li:nth-child(2n)
{
    margin-right:0;
}

.mainCon01 a
{
    display:block;
    padding:45% 0;
    color:#fff;
    font-weight:bold;
}

.mainCon01 .conBox2
{
    background-image: url(../images/mainrow3_img2.jpg);
}

.mainCon01 .conBox2 a
{
    color:#333;
}

.mainCon01 .conBox3
{
    background-image: url(../images/mainrow3_img3.jpg);
}
.mainCon01 .conBox4
{
    background:#2d5b79;
}

/*~~~~~~~~~~~~~~메인공지뉴스~~~~~~~~~~~~*/

.mainInfo
{
    font-size:13px;
    margin:16px;
    margin-top:0;
}

.mainInfo dl
{
    background:#f2f0ed;
    margin-bottom:5px;
    overflow:hidden;
    padding:13px;
    font-weight:bold;
}

.mainInfo dt
{
    float: left;
    width:20%;
    color:#2d5b79;
    text-indent:6px;
}

.mainInfo dd
{
    float: left;
    width:80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.mainInfo dd a
{
    color:#444;
}

/*~~~~~~~~~~~~~~메인컨텐츠02~~~~~~~~~~~~*/

.mainCon02
{
    padding-right:15px;
    padding-top:40px;
    padding-bottom:25px;
    text-align: center;
    font-size:14px;
    background:url(../images/bg_main_business.jpg) no-repeat;
    background-size:cover;
}

.mainCon02 li
{
    float:left;
    width:calc(50% - 15px);
 background:url(../images/bg_business_link01_m.jpg) no-repeat;
    background-size:cover;
    margin-left:15px;
    margin-bottom:15px;
}

.mainCon02 a{
    display: block;
    color:#000;
    font-weight:bold;
    padding:40% 10% 10% 10%;
    margin:8px;
    border:1px solid #fff;
}

.mainCon02 .con02Box2
{
    background:url(../images/bg_business_link02_m.jpg) no-repeat center center;
    background-size:cover;
}

.mainCon02 .con02Box3
{
    background:url(../images/bg_business_link03_m.jpg) no-repeat center;
    background-size:cover;
}

.mainCon02 .con02Box4
{
    background:url(../images/bg_business_link04_m.jpg) no-repeat center;
    background-size:cover;
}



